.search-container{
    width: 100%;
    max-width: 1200px;
    height: 429px;
    border-radius: .7rem;
    background-color: #FFFFFF;
    margin-left: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: -200px;
    position: relative;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
input{
    width: 100%;
    max-width: 285px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: .7rem;
    padding: 10px;
    background-color: #F0F0F0;
}
.search-box{
        padding: 14px 20px;
        color: white;
        border: 1px solid transparent;
        border-radius: 28px;
        background-color: #2AA8FF;
        font-size: 18px;
        letter-spacing: .8px;
        cursor: pointer;
        transition: all .4s ease;
}
@media screen and (max-width:900px){
    .search-container{
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }
    input{
        margin-bottom: 1rem;
    }
    
}